#titulo{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
}
.icono{
    font-size: 40px;
}

footer {
    background: ghostwhite;
}

.header{
    height: 80vh;
    background-image: url("../IMG/professor/img2.jfif");
    background-size: cover;
}

.frase{
    background: aqua;
    height: auto;
}

textarea{
    resize: none;
}

.shadow{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    /*CSS3...4parámetros(sombrahsombravdesenfoqueycolor)box-shadow:;
    inset(generasombrainternaenelelemento)box-shadow:;
    insetyluegosininset(agregasombraexternaeinterna)*/-moz-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}

